
*{
    margin: 0;
    padding: 0;
}
.pro_list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-cart{
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 4px 6px rgb(15, 68, 84);
}

.pro_img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.product-cart p{
    margin: 5px;
    font-size: 1.2 rem;
    color: #333;
}

.product-cart h1{
    font-size: 1.1 rem;
    color: #333;
}

.btn{
    padding: 10px 20px;
    background-color: #5b728a;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    color: white;

}
.btn:hover{
    background-color: #223447;
    box-shadow: 2px 2px 10px blue;
}